Customer Service Agent Using Rag
{
  "name": "Customer service agent with RAG",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        -16
      ],
      "id": "050e983a-25ef-4401-8a32-68fb3a2d16a0",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "aHcgQQsf06BLwOqC",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d65b6442-e002-447e-8c58-51051cfc76ac",
              "name": "Message",
              "value": "={{ $json.snippet }}",
              "type": "string"
            },
            {
              "id": "9a09e3ba-cee4-409d-8373-5a7ff9631313",
              "name": "Name",
              "value": "={{ $json.From.split('<')[0].trim().split(' ')[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        -16
      ],
      "id": "7019e328-be1c-4efd-bde9-1c82d79825fa",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.Message }}",
        "options": {
          "systemMessage": "# Overview:\nyou are a intelligent Agent which is responsible for replying incoming messages.\n\n## Tools:\nVector store is connected in the tool section. You need to work with vector store.\n\n## Rules:\n- First you have to go to vector store and reply accordingly.\n\n#Outcomes:\n- must be short and precise. \n_ write it in formal and professional tone.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        512,
        -16
      ],
      "id": "a058df8d-74ab-4220-8409-a13ecfe731ee",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        448,
        208
      ],
      "id": "2f9c9759-0eac-474c-a923-4adead975b4d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "LtZDFdPYLRxD8V9a",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.Message }}",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        576,
        208
      ],
      "id": "4e3ff76f-6e70-4bee-b1d9-4b0112eefcfb",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Work with you vectorstore",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        704,
        208
      ],
      "id": "d66fc59a-c473-4050-97c4-850af4d7b08c",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "Ud4xb4fiXV9NBgoq",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        784,
        416
      ],
      "id": "c00a095a-d09c-428b-be5b-c644e08d20bb",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "LtZDFdPYLRxD8V9a",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "options": {
          "systemMessage": "=# Overview:\nyou are a helpful assistant , your task is to rewrite the messy e-mail.\n \n## Rules:\n- Start with a professional greeting (e.g. / Dear{{ $('Edit Fields').item.json.Name }} \n- Present in structured paragraphs.\n -Maintain a professional and courteous tone throughout.\n- Conclude with a polite closing statement and professional sign-off.\n\n# Output:\n- Don't omit any important details.\n- Do not add new information.\n- delete unclear or incomplete sentence.\n\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1072,
        -16
      ],
      "id": "31b6824c-6ecc-49bd-998b-a6d49e846462",
      "name": "G-mail writter"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1056,
        192
      ],
      "id": "c596d447-f5e4-44c1-9d58-73965068fba8",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "LtZDFdPYLRxD8V9a",
          "name": "n8n free OpenAI API credits"
        }
      }
    }
  ],
  "pinData": {
    "Gmail Trigger": [
      {
        "json": {
          "id": "19c83bfe793f7676",
          "threadId": "19c83bfe793f7676",
          "snippet": "hey there, i want to know what is process of refund.",
          "payload": {
            "mimeType": "multipart/alternative"
          },
          "sizeEstimate": 7075,
          "historyId": "393924",
          "internalDate": "1771736905000",
          "labels": [
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "IMPORTANT",
              "name": "IMPORTANT"
            },
            {
              "id": "CATEGORY_PERSONAL",
              "name": "CATEGORY_PERSONAL"
            },
            {
              "id": "UNREAD",
              "name": "UNREAD"
            }
          ],
          "From": "Redowan BNFE <redowannbnfe@gmail.com>",
          "Subject": "refund policy",
          "To": "Redowan Ahmed <redowanfarhan@gmail.com>"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "G-mail writter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "G-mail writter",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "d413e491-459c-47b3-8fd3-b39061d2226e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "24d1a007ba9ae5c20f8e0d5a0c79a272e642bfd52bb700f8c6e591ccb42bad63"
  },
  "id": "BejmhTQludofO0y9",
  "tags": []
}
