Daily product pricing monitor
{
  "name": "Daily Product Pricing Monitor",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Clear global memory and normalize column names\nconst items = $input.all();\n\n// Reset pricing results in workflow static data\nconst staticData = $getWorkflowStaticData('global');\nstaticData.pricingResults = [];\nstaticData.processedCount = 0;\n\n// Normalize column names (supports many naming conventions)\nconst normalizedItems = items.map(item => {\n  const d = item.json;\n\n  const get = (...keys) => {\n    for (const k of keys) {\n      if (d[k] !== undefined && d[k] !== '') return d[k];\n    }\n    return null;\n  };\n\n  return {\n    json: {\n      productName: get('product_name','productName','Product Name','name','Name','PRODUCT','product') || 'Unknown Product',\n      yourPrice: parseFloat(get('your_price','yourPrice','Your Price','price','Price','YOUR_PRICE','cost') || 0),\n      sku: get('sku','SKU','product_id','Product ID','id','ID') || '',\n      category: get('category','Category','CATEGORY','type','Type') || 'General',\n      brand: get('brand','Brand','BRAND','manufacturer','Manufacturer') || ''\n    }\n  };\n});\n\nreturn normalizedItems;"
      },
      "id": "b06d8aa8-32e2-4e94-8050-f2da85496740",
      "name": "Clear Memory and Normalize Columns",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        304
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "37e18c58-4664-4f93-ac22-2284d95bef57",
      "name": "Loop Through Each Product",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -224,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\n// Build a rich search query for Google Shopping\nconst parts = [\n  item.brand || '',\n  item.productName || '',\n  item.sku ? `(${item.sku})` : ''\n].filter(Boolean);\n\nconst searchQuery = parts.join(' ').trim();\n\nreturn [{\n  json: {\n    ...item,\n    searchQuery,\n    encodedQuery: encodeURIComponent(searchQuery)\n  }\n}];"
      },
      "id": "f8446f08-1344-47b3-91b5-91e4da0cca2d",
      "name": "Prepare Search Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        176
      ]
    },
    {
      "parameters": {
        "url": "https://www.searchapi.io/api/v1/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "engine",
              "value": "google_shopping"
            },
            {
              "name": "q",
              "value": "={{ $json.searchQuery }}"
            },
            {
              "name": "country",
              "value": "us"
            },
            {
              "name": "api_key",
              "value": "Y6PBpzcZipjveTxXMVrjzUV3"
            }
          ]
        },
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "id": "39262ae8-8645-444f-af28-5d67f17e87a2",
      "name": "Search Google Shopping Prices",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        176
      ]
    },
    {
      "parameters": {
        "jsCode": "const prev = $('Prepare Search Query').first().json;\nconst apiResponse = $input.first().json;\nconst shoppingResults = apiResponse.shopping_results || [];\n\nlet competitorPrices = [];\nlet lowestPrice = null;\nlet averagePrice = null;\nlet gapPercent = 0;\nlet severity = 'ok';\nlet suggestedPrice = null;\n\nif (shoppingResults.length > 0) {\n  competitorPrices = shoppingResults\n    .filter(r => r.price)\n    .map(r => ({\n      store: r.source || 'Unknown',\n      price: parseFloat(String(r.price).replace(/[^0-9.]/g, '')) || 0,\n      title: r.title || '',\n      link: r.link || ''\n    }))\n    .filter(r => r.price > 0);\n\n  if (competitorPrices.length > 0) {\n    const prices = competitorPrices.map(p => p.price);\n    lowestPrice = Math.min(...prices);\n    averagePrice = parseFloat((prices.reduce((a,b) => a+b,0) / prices.length).toFixed(2));\n\n    // Gap: positive = you are MORE expensive than competitor\n    gapPercent = parseFloat(((prev.yourPrice - lowestPrice) / lowestPrice * 100).toFixed(2));\n\n    if (gapPercent >= 20 || gapPercent <= -20) severity = 'critical';\n    else if (gapPercent >= 10 || gapPercent <= -10) severity = 'warning';\n    else severity = 'ok';\n\n    // Suggested price = 3% below lowest competitor (competitive but profitable)\n    suggestedPrice = parseFloat((lowestPrice * 0.97).toFixed(2));\n  }\n}\n\nreturn [{\n  json: {\n    productName:           prev.productName,\n    sku:                   prev.sku,\n    category:              prev.category,\n    brand:                 prev.brand,\n    yourPrice:             prev.yourPrice,\n    lowestCompetitorPrice: lowestPrice,\n    averageCompetitorPrice:averagePrice,\n    gapPercent,\n    severity,\n    suggestedPrice,\n    topCompetitors:        competitorPrices.slice(0, 5),\n    totalResultsFound:     competitorPrices.length,\n    analyzedAt:            new Date().toISOString()\n  }\n}];"
      },
      "id": "42a9214e-f822-4ff6-92aa-2d4fbd48cf52",
      "name": "Analyze Pricing Gap",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        176
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\n// Accumulate results in workflow static data for summary\nconst staticData = $getWorkflowStaticData('global');\nif (!Array.isArray(staticData.pricingResults)) staticData.pricingResults = [];\nstaticData.pricingResults.push(item);\nstaticData.processedCount = staticData.pricingResults.length;\n\nreturn [{ json: item }];"
      },
      "id": "24f709a6-4738-453b-a76e-18ea509ba649",
      "name": "Save Result to Memory",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        176
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-1",
              "leftValue": "={{ $json.severity }}",
              "rightValue": "ok",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "79f22aa4-d315-462e-9e08-c90411afc9a5",
      "name": "Filter Critical or Warning Alerts",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        880,
        176
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AK5VBUE1Z",
          "mode": "list",
          "cachedResultName": "pricing-alerts"
        },
        "text": "={{ $json.severity === 'critical' ? '🚨' : '⚠️' }} *Pricing {{ $json.severity === 'critical' ? 'CRITICAL' : 'WARNING' }}: {{ $json.productName }}*\n\n• 🏷️ Your Price: *${{ $json.yourPrice }}*\n• 🏪 Lowest Competitor: *${{ $json.lowestCompetitorPrice }}*\n• 📊 Price Gap: *{{ $json.gapPercent }}%*\n• 💡 Suggested Price: *${{ $json.suggestedPrice }}*\n• 📦 SKU: {{ $json.sku || 'N/A' }}\n\n_Analyzed at {{ $json.analyzedAt }}_",
        "otherOptions": {}
      },
      "id": "9a9fbd84-27dc-452e-b971-80ffdb04448f",
      "name": "Send Slack Pricing Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1104,
        176
      ],
      "webhookId": "7a84ee26-36e1-4897-abdf-557b20507911",
      "credentials": {
        "slackOAuth2Api": {
          "id": "1AsKHO9uRLHtJCBh",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {},
      "id": "8738d1cf-b536-4054-b657-290b22887720",
      "name": "Continue to Next Product",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1552,
        176
      ]
    },
    {
      "parameters": {
        "jsCode": "// Retrieve all accumulated pricing results\nconst staticData = $getWorkflowStaticData('global');\nconst results = staticData.pricingResults || [];\n\nconst critical = results.filter(r => r.severity === 'critical');\nconst warnings  = results.filter(r => r.severity === 'warning');\nconst ok        = results.filter(r => r.severity === 'ok');\nconst today     = new Date().toLocaleDateString('en-US', { year:'numeric', month:'long', day:'numeric' });\n\n// ── HTML Email ────────────────────────────────────────────────────\nconst rowColor = s => s === 'critical' ? '#fff0f0' : s === 'warning' ? '#fffbf0' : '#f0fff4';\nconst badge    = s => s === 'critical'\n  ? '<span style=\"background:#dc3545;color:#fff;padding:2px 8px;border-radius:10px;font-size:12px\">CRITICAL</span>'\n  : s === 'warning'\n  ? '<span style=\"background:#fd7e14;color:#fff;padding:2px 8px;border-radius:10px;font-size:12px\">WARNING</span>'\n  : '<span style=\"background:#28a745;color:#fff;padding:2px 8px;border-radius:10px;font-size:12px\">OK</span>';\n\nconst tableRows = results.map(r => `\n  <tr style=\"background:${rowColor(r.severity)}\">\n    <td style=\"padding:8px 12px;border:1px solid #dee2e6\">${r.productName}</td>\n    <td style=\"padding:8px 12px;border:1px solid #dee2e6\">${r.sku || '—'}</td>\n    <td style=\"padding:8px 12px;border:1px solid #dee2e6;text-align:right\">$${r.yourPrice.toFixed(2)}</td>\n    <td style=\"padding:8px 12px;border:1px solid #dee2e6;text-align:right\">${r.lowestCompetitorPrice != null ? '$'+r.lowestCompetitorPrice.toFixed(2) : 'N/A'}</td>\n    <td style=\"padding:8px 12px;border:1px solid #dee2e6;text-align:right\">${r.gapPercent}%</td>\n    <td style=\"padding:8px 12px;border:1px solid #dee2e6;text-align:right\">${r.suggestedPrice != null ? '$'+r.suggestedPrice.toFixed(2) : 'N/A'}</td>\n    <td style=\"padding:8px 12px;border:1px solid #dee2e6;text-align:center\">${badge(r.severity)}</td>\n  </tr>`).join('');\n\nconst htmlReport = `<!DOCTYPE html>\n<html><head><meta charset=\"utf-8\">\n<style>body{font-family:Arial,sans-serif;color:#333;max-width:900px;margin:0 auto;padding:20px}\nh1{color:#1a1a2e}th{background:#343a40;color:#fff;padding:10px 12px;text-align:left}\ntable{width:100%;border-collapse:collapse;margin-top:16px}</style>\n</head><body>\n<h1>📊 Daily Pricing Report — ${today}</h1>\n<p style=\"font-size:16px\">\n  <strong>Total Analyzed:</strong> ${results.length} &nbsp;|\n  <strong style=\"color:#dc3545\"> 🚨 Critical: ${critical.length}</strong> &nbsp;|\n  <strong style=\"color:#fd7e14\"> ⚠️ Warning: ${warnings.length}</strong> &nbsp;|\n  <strong style=\"color:#28a745\"> ✅ OK: ${ok.length}</strong>\n</p>\n<table>\n  <thead><tr>\n    <th>Product</th><th>SKU</th><th>Your Price</th>\n    <th>Lowest Competitor</th><th>Gap %</th><th>Suggested Price</th><th>Status</th>\n  </tr></thead>\n  <tbody>${tableRows}</tbody>\n</table>\n<p style=\"color:#888;font-size:12px;margin-top:24px\">Generated automatically by n8n Pricing Monitor</p>\n</body></html>`;\n\n// ── Slack Summary ─────────────────────────────────────────────────\nconst criticalLines = critical.map(r =>\n  `• *${r.productName}* — Yours $${r.yourPrice} vs $${r.lowestCompetitorPrice} (${r.gapPercent}%)`\n).join('\\n');\n\nconst warningLines = warnings.map(r =>\n  `• *${r.productName}* — Yours $${r.yourPrice} vs $${r.lowestCompetitorPrice} (${r.gapPercent}%)`\n).join('\\n');\n\nconst slackMessage = [\n  `📊 *Daily Pricing Report — ${today}*`,\n  `✅ Products Analyzed: *${results.length}*  |  🚨 Critical: *${critical.length}*  |  ⚠️ Warning: *${warnings.length}*  |  ✅ OK: *${ok.length}*`,\n  critical.length > 0 ? `\\n🚨 *Critical Alerts:*\\n${criticalLines}` : '',\n  warnings.length  > 0 ? `\\n⚠️ *Warnings:*\\n${warningLines}` : ''\n].filter(Boolean).join('\\n');\n\nreturn [{ json: { htmlReport, slackMessage, summary: { total: results.length, critical: critical.length, warnings: warnings.length, ok: ok.length }, reportDate: new Date().toISOString() } }];"
      },
      "id": "31b2b7a2-cbb2-4698-a465-d086c584f302",
      "name": "Build Daily Summary Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        528
      ]
    },
    {
      "parameters": {
        "sendTo": "redowan587@gmail.com",
        "subject": "=📊 Daily Pricing Report — {{ new Date($json.reportDate).toLocaleDateString('en-US',{year:'numeric',month:'long',day:'numeric'}) }}",
        "message": "={{ $json.htmlReport }}",
        "options": {}
      },
      "id": "4c775d99-22a5-4c08-bc2c-789de1df0042",
      "name": "Email Daily Report",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        16,
        624
      ],
      "webhookId": "eee9943a-d23e-4506-8523-580afc31a5f0",
      "credentials": {
        "gmailOAuth2": {
          "id": "hwkGRzmPHuB6NuZy",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1axRTQelNLar_LC2m3Mul9wKJVHYhqEtie9lC4FR1w2c",
          "mode": "list",
          "cachedResultName": "Products",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1axRTQelNLar_LC2m3Mul9wKJVHYhqEtie9lC4FR1w2c/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1axRTQelNLar_LC2m3Mul9wKJVHYhqEtie9lC4FR1w2c/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -656,
        304
      ],
      "id": "5fa79700-dc0a-493f-b600-017ad8a5b445",
      "name": "Get products from sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jyOKBVYAE10WagHy",
          "name": "Newzz"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AK1R8LT3M",
          "mode": "list",
          "cachedResultName": "all-general-all-department"
        },
        "text": "={{ $json.slackMessage }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        16,
        432
      ],
      "id": "df19f01e-b574-42b3-84d6-87b72fd62393",
      "name": "Send a message",
      "webhookId": "0e58e214-1b80-45b1-95f6-462d5e7adaf1",
      "credentials": {
        "slackOAuth2Api": {
          "id": "1AsKHO9uRLHtJCBh",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1zMSlJ3YHlkffZ_V0m1pS_HG12jhxNMRInG7QioQxgNQ/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zMSlJ3YHlkffZ_V0m1pS_HG12jhxNMRInG7QioQxgNQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date ": "={{ $('Search Google Shopping Prices').item.json.search_metadata.created_at }}",
            "Product name ": "={{ $('Analyze Pricing Gap').item.json.productName }}",
            "Sku": "={{ $('Analyze Pricing Gap').item.json.sku }}",
            "Category": "={{ $('Analyze Pricing Gap').item.json.category }}",
            "My Price": "={{ $('Analyze Pricing Gap').item.json.yourPrice }}",
            "Lowest Compitition": "={{ $('Analyze Pricing Gap').item.json.topCompetitors[0].price }}",
            "Average compition": "={{ $('Analyze Pricing Gap').item.json.averageCompetitorPrice }}",
            "GAP(%)": "={{ $('Analyze Pricing Gap').item.json.gapPercent }}",
            "Severity": "={{ $('Analyze Pricing Gap').item.json.severity }}",
            "Suggested price": "={{ $('Analyze Pricing Gap').item.json.suggestedPrice }}",
            "Total results found": "={{ $('Analyze Pricing Gap').item.json.totalResultsFound }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date ",
              "displayName": "Date ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Product name ",
              "displayName": "Product name ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sku",
              "displayName": "Sku",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "My Price",
              "displayName": "My Price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lowest Compitition",
              "displayName": "Lowest Compitition",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Average compition",
              "displayName": "Average compition",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "GAP(%)",
              "displayName": "GAP(%)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Severity",
              "displayName": "Severity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Suggested price",
              "displayName": "Suggested price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total results found",
              "displayName": "Total results found",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1344,
        176
      ],
      "id": "3e14a04d-5ef5-465f-bedc-f937cc3084c2",
      "name": "Log to Price History Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jyOKBVYAE10WagHy",
          "name": "Newzz"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -848,
        304
      ],
      "id": "37427376-fa1e-4852-9b8f-184b49bb7453",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Clear Memory and Normalize Columns": {
      "main": [
        [
          {
            "node": "Loop Through Each Product",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Through Each Product": {
      "main": [
        [
          {
            "node": "Build Daily Summary Report",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Search Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Search Query": {
      "main": [
        [
          {
            "node": "Search Google Shopping Prices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Google Shopping Prices": {
      "main": [
        [
          {
            "node": "Analyze Pricing Gap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Pricing Gap": {
      "main": [
        [
          {
            "node": "Save Result to Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Result to Memory": {
      "main": [
        [
          {
            "node": "Filter Critical or Warning Alerts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Critical or Warning Alerts": {
      "main": [
        [
          {
            "node": "Send Slack Pricing Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Slack Pricing Alert": {
      "main": [
        [
          {
            "node": "Log to Price History Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Continue to Next Product": {
      "main": [
        [
          {
            "node": "Loop Through Each Product",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Daily Summary Report": {
      "main": [
        [
          {
            "node": "Email Daily Report",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get products from sheets": {
      "main": [
        [
          {
            "node": "Clear Memory and Normalize Columns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Price History Sheet": {
      "main": [
        [
          {
            "node": "Continue to Next Product",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get products from sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e218bbf9-b4e3-4c8f-855d-d28025710dbc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6bfc721d0c2658be4e0acd7bcdd9f3211dd8941f193fa97f0907d4e7ae274ca0"
  },
  "id": "7p7vCgSEbioNVvvc",
  "tags": []
}
