Employee Onboarding Automation
{
  "name": "AI Employee Onboarding Automation",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Employee Onboarding Form",
        "formDescription": "Welcome to the team! Please fill in your details to begin the onboarding process.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Full Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Email Address",
              "fieldType": "email",
              "requiredField": true
            },
            {
              "fieldLabel": "Role / Position",
              "requiredField": true
            },
            {
              "fieldLabel": "Department",
              "requiredField": true
            },
            {
              "fieldLabel": "Start Date",
              "fieldType": "date",
              "requiredField": true
            },
            {
              "fieldLabel": "Direct Manager Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Direct Manager Email",
              "fieldType": "email",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -2800,
        32
      ],
      "id": "9d82e11e-e291-4488-bf11-35956b7c6ff8",
      "name": "Onboarding Form",
      "webhookId": "369a7ad6-3bc0-4687-bd4a-3d1599aacad6"
    },
    {
      "parameters": {
        "jsCode": "const formData = $input.first().json;\nreturn [{ json: formData }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2576,
        32
      ],
      "id": "ccb93734-f57a-4968-b175-3db535dab902",
      "name": "Store Form Data"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -2384,
        224
      ],
      "id": "770f48e9-4733-4f5b-9262-b75a55068c99",
      "name": "Generate AI Content",
      "credentials": {
        "groqApi": {
          "id": "zUI77WGbebONKXmE",
          "name": "Groq account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Onboarding Form').item.json['Email Address'] }}",
        "subject": "={{ $json.data[0].output.welcome_email_subject }}",
        "message": "={{ $json.data[0].output.welcome_email_body }}",
        "options": {
          "appendAttribution": false,
          "attachmentsUi": {
            "attachmentsBinary": [
              {},
              {
                "property": "data_1"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -1072,
        -112
      ],
      "id": "852d6014-46e4-48f8-a328-62e2e5a8c709",
      "name": "Welcome Email → New Hire",
      "webhookId": "c42625b8-cb93-40d7-ac11-fcdf80ef5024",
      "credentials": {
        "gmailOAuth2": {
          "id": "hwkGRzmPHuB6NuZy",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "Redowannbnfe@gmail.com",
        "subject": "={{ $json.data[0].output.hr_email_subject }}",
        "message": "={{ $json.data[0].output.hr_email_body }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -1072,
        272
      ],
      "id": "992bbae2-ce9e-4986-b462-f8faf429e065",
      "name": "Notification Email → HR Team",
      "webhookId": "345eab7c-4975-4cb3-ab7f-976eff48fc1c",
      "credentials": {
        "gmailOAuth2": {
          "id": "hwkGRzmPHuB6NuZy",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "=ahamed.farhan2021@gmail.com",
        "subject": "={{ $json.data[0].output.manager_email_subject }}",
        "message": "={{ $json.data[0].output.manager_email_body }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -1072,
        464
      ],
      "id": "15f990af-d7bd-4c1c-8549-35454c2f83b8",
      "name": "Notification Email → Manager",
      "webhookId": "b6351493-e0ac-49c9-afaf-32cf7f4d85c4",
      "credentials": {
        "gmailOAuth2": {
          "id": "hwkGRzmPHuB6NuZy",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "jarifsalam6@gmail.com",
        "subject": "={{ $json.data[0].output.it_email_subject }}",
        "message": "={{ $json.data[0].output.it_email_body }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -1072,
        656
      ],
      "id": "35f8edd2-94fe-44f9-a6c0-8713ca088066",
      "name": "System Access Request → IT Team",
      "webhookId": "d9cd0efe-b473-4080-b32b-6d55684ea162",
      "credentials": {
        "gmailOAuth2": {
          "id": "hwkGRzmPHuB6NuZy",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AK1R8LT3M",
          "mode": "list",
          "cachedResultName": "all-general-all-department"
        },
        "text": "={{ $json.data[0].output.slack_general_message }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -1072,
        848
      ],
      "id": "ebc3d72d-8ca4-43b9-918a-b9479c155d65",
      "name": "Slack Intro → General Channel",
      "webhookId": "889b155b-2823-4f57-b154-3a11fa9975e8",
      "credentials": {
        "slackOAuth2Api": {
          "id": "1AsKHO9uRLHtJCBh",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Full Name: {{ $json['Full Name'] }}\nEmail: {{ $json['Email Address'] }}\nRole: {{ $json['Role / Position'] }}\nDepartment: {{ $json['Department'] }}\nStart Date: {{ $json['Start Date'] }}\nManager Name: {{ $json['Direct Manager Name'] }}\nManager Email: {{ $json['Direct Manager Email'] }}\nCompany name : RedsAI",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "# Role\n\nYou are a professional HR communications specialist working for [Company Name]. \nYour job is to generate personalized, warm and professional onboarding \ncommunications for new employees joining the company.\n\nYou will receive new employee details and must generate multiple pieces of \ncommunication simultaneously.\n\nAlways sound human. Never sound automated.\n\n---\n\n# Employee Details You Will Receive\n\n- Full Name\n- Email Address\n- Role / Position\n- Department\n- Start Date\n- Direct Manager Name\n- Direct Manager Email\n\n---\n\n# Communications You Must Generate\n\n## 1. Welcome Email (To New Hire)\n\n**Tone:** Warm. Exciting. Encouraging.\n**Purpose:** Make the new employee feel genuinely welcomed and excited about joining.\n\nMust include:\n- Personal greeting using their first name\n- Congratulate them on joining the team\n- Mention their role and department\n- Confirm their start date\n- Let them know their training materials are ready and accessible via a link that will be provided\n- Tell them what to expect on Day 1\n- Sign off from the HR Team\n\n---\n\n## 2. Manager Notification Email (To Direct Manager)\n\n**Tone:** Professional. Informative. Action oriented.\n**Purpose:** Notify the manager that their new team member is onboarded and starting soon.\n\nMust include:\n- Name of the new hire\n- Their role and department\n- Confirmed start date\n- Reminder to prepare workspace and Day 1 plan\n- Request manager to reach out to new hire before start date\n- Sign off from the HR Team\n\n---\n\n## 3. HR Team Notification Email (To HR Team)\n\n**Tone:** Professional. Concise. Factual.\n**Purpose:** Internal summary for HR records and awareness.\n\nMust include:\n- New hire full name\n- Role and department\n- Start date\n- Manager name\n- Confirmation that onboarding has been initiated automatically\n- Status: Onboarding\n- Sign off from Onboarding Automation System\n\n---\n\n## 4. IT System Access Request Email (To IT Team)\n\n**Tone:** Professional. Clear. Direct.\n**Purpose:** Request IT team to set up system access for the new employee before their start date.\n\nMust include:\n- New hire full name\n- Role and department\n- Start date\n- Request to set up the following before start date:\n  * Company email account\n  * System and software access based on role\n  * Hardware setup if required\n  * VPN and security access\n- Urgency note: Must be completed before start date\n- Sign off from HR Team\n\n---\n\n## 5. Slack General Channel Message\n\n**Tone:** Friendly. Casual. Exciting.\n**Purpose:** Introduce the new hire to the entire company on Slack.\n\nMust include:\n- Warm welcome announcement\n- New hire first name\n- Their role and department\n- Start date\n- One encouraging line welcoming them to the team\n- Relevant emojis to keep it friendly\n\n---\n\n## 6. Slack HR Team Channel Message\n\n**Tone:** Professional. Brief. Informative.\n**Purpose:** Quick internal alert for HR team on Slack.\n\nMust include:\n- New hire name\n- Role and department\n- Start date\n- Confirmation that onboarding workflow has been triggered automatically\n- Reminder to verify Google Sheets entry\n\n---\n\n# Output Rules\n\n- Return valid JSON only\n- No markdown\n- No code blocks\n- No extra text outside the JSON\n- All email bodies must be in clean HTML format\n- Keep emails concise but complete\n- Never use placeholder text like [insert name here]\n- Always use the actual employee details provided\n\n---\n\n# Output Format\n\nReturn exactly this JSON structure:\n\n{\n  \"welcome_email_subject\": \"write subject line here\",\n  \"welcome_email_body\": \"full HTML email here\",\n  \"manager_email_subject\": \"write subject line here\",\n  \"manager_email_body\": \"full HTML email here\",\n  \"hr_email_subject\": \"write subject line here\",\n  \"hr_email_body\": \"full HTML email here\",\n  \"it_email_subject\": \"write subject line here\",\n  \"it_email_body\": \"full HTML email here\",\n  \"slack_general_message\": \"slack message here\",\n  \"slack_hr_message\": \"slack HR alert here\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -2368,
        32
      ],
      "id": "ff031235-7ec3-4514-bd0b-471642e8ea36",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"welcome_email_subject\": {\n      \"type\": \"string\",\n      \"description\": \"Subject line for the welcome email sent to the new hire\"\n    },\n    \"welcome_email_body\": {\n      \"type\": \"string\",\n      \"description\": \"Full HTML body for the welcome email sent to the new hire\"\n    },\n    \"manager_email_subject\": {\n      \"type\": \"string\",\n      \"description\": \"Subject line for the notification email sent to the direct manager\"\n    },\n    \"manager_email_body\": {\n      \"type\": \"string\",\n      \"description\": \"Full HTML body for the notification email sent to the direct manager\"\n    },\n    \"hr_email_subject\": {\n      \"type\": \"string\",\n      \"description\": \"Subject line for the notification email sent to the HR team\"\n    },\n    \"hr_email_body\": {\n      \"type\": \"string\",\n      \"description\": \"Full HTML body for the notification email sent to the HR team\"\n    },\n    \"it_email_subject\": {\n      \"type\": \"string\",\n      \"description\": \"Subject line for the system access request email sent to IT team\"\n    },\n    \"it_email_body\": {\n      \"type\": \"string\",\n      \"description\": \"Full HTML body for the system access request email sent to IT team\"\n    },\n    \"slack_general_message\": {\n      \"type\": \"string\",\n      \"description\": \"Friendly introduction message to post in Slack general channel\"\n    },\n    \"slack_hr_message\": {\n      \"type\": \"string\",\n      \"description\": \"Brief alert message to post in Slack HR team channel\"\n    }\n  },\n  \"required\": [\n    \"welcome_email_subject\",\n    \"welcome_email_body\",\n    \"manager_email_subject\",\n    \"manager_email_body\",\n    \"hr_email_subject\",\n    \"hr_email_body\",\n    \"it_email_subject\",\n    \"it_email_body\",\n    \"slack_general_message\",\n    \"slack_hr_message\"\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -2208,
        208
      ],
      "id": "c0af31c2-69bd-40e4-8ebd-c064634d6a4f",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1IYmfO_XT-Yt6dDOSkFg7HL0Poipx_XoI",
          "mode": "id"
        },
        "options": {}
      },
      "id": "80e754f5-6ebd-4c9d-add6-d34998e1826c",
      "name": "Download Policy",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1760,
        32
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "6rOJeFV0a1Iz5B3N",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "14wjAitDmSwSDRqmrRfFBOkeiDU4MKyFx"
        },
        "options": {}
      },
      "id": "53404e2c-dfb3-4c3c-bc5d-34cffdc550e4",
      "name": "Download Handbook",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2000,
        32
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "6rOJeFV0a1Iz5B3N",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1984,
        256
      ],
      "id": "3905dcc4-3df9-4443-85c8-5393dcbea687",
      "name": "Merge"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {
          "includeBinaries": true
        }
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1744,
        256
      ],
      "id": "5377f992-ca95-4c15-9e78-8626ef48c903",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1HwlZ2hRcsd-tq-T4RmzG73d3rfICwTrJbH4QQywKi_Q",
          "mode": "list",
          "cachedResultName": "new employee onboarding",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HwlZ2hRcsd-tq-T4RmzG73d3rfICwTrJbH4QQywKi_Q/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HwlZ2hRcsd-tq-T4RmzG73d3rfICwTrJbH4QQywKi_Q/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Full Name ": "={{ $('Onboarding Form').item.json['Full Name'] }}",
            "E-mail": "={{ $('Onboarding Form').item.json['Email Address'] }}",
            "Role": "={{ $('Onboarding Form').item.json['Role / Position'] }}",
            "Department": "={{ $('Onboarding Form').item.json.Department }}",
            "Start Date": "={{ $('Onboarding Form').item.json['Start Date'] }}",
            "Manager name": "={{ $('Onboarding Form').item.json['Direct Manager Name'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Full Name ",
              "displayName": "Full Name ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "E-mail",
              "displayName": "E-mail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Role",
              "displayName": "Role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Department",
              "displayName": "Department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Start Date",
              "displayName": "Start Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Manager name",
              "displayName": "Manager name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1072,
        80
      ],
      "id": "b23c5056-fdde-416d-a01c-b54d498ed30a",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jyOKBVYAE10WagHy",
          "name": "Newzz"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AKM4U1K25",
          "mode": "list",
          "cachedResultName": "hr-team"
        },
        "text": "={{ $json.data[1].output.slack_hr_message }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        -1072,
        1040
      ],
      "id": "0e94d265-e134-4e23-9654-de8417c187da",
      "name": "HR team",
      "webhookId": "9c6acc78-9e39-4afb-8985-6dd635e73a08",
      "credentials": {
        "slackOAuth2Api": {
          "id": "1AsKHO9uRLHtJCBh",
          "name": "Slack account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Onboarding Form": {
      "main": [
        [
          {
            "node": "Store Form Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate AI Content": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Store Form Data": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Download Handbook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Policy": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Handbook": {
      "main": [
        [
          {
            "node": "Download Policy",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Welcome Email → New Hire",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notification Email → HR Team",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notification Email → Manager",
            "type": "main",
            "index": 0
          },
          {
            "node": "System Access Request → IT Team",
            "type": "main",
            "index": 0
          },
          {
            "node": "Slack Intro → General Channel",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "HR team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Intro → General Channel": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a7a03034-915e-4b23-8f1c-0e1958bec683",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6bfc721d0c2658be4e0acd7bcdd9f3211dd8941f193fa97f0907d4e7ae274ca0"
  },
  "id": "mwNGTrho0YQvvznw",
  "tags": []
}
