Linkedin Comment Responder
{
  "name": "Comment Responder for LinkedIn",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "2c30fb2f-7ac8-4f9b-922f-8d945aad6b03",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -160,
        -96
      ]
    },
    {
      "parameters": {
        "url": "https://api.linkedin.com/v2/socialActions/{{$vars.LINKEDIN_POST_URN}}/comments",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "linkedInOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "count",
              "value": "50"
            },
            {
              "name": "start",
              "value": "0"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "LinkedIn-Version",
              "value": "202304"
            },
            {
              "name": "X-Restli-Protocol-Version",
              "value": "2.0.0"
            }
          ]
        },
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "id": "4aebc060-b26e-4f34-b858-71060520e2ec",
      "name": "Fetch LinkedIn Comments",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        64,
        -96
      ],
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "u9opNuspgI9kfdXu",
          "name": "LinkedIn OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "elements",
        "options": {}
      },
      "id": "1df39fd4-6f40-4890-a07d-317af8672bfe",
      "name": "Split Comments",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        288,
        -96
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "field-001",
              "name": "commentId",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "field-002",
              "name": "commentText",
              "value": "={{ $json.message.text }}",
              "type": "string"
            },
            {
              "id": "field-003",
              "name": "authorName",
              "value": "={{ $json.actor }}",
              "type": "string"
            },
            {
              "id": "field-004",
              "name": "postUrl",
              "value": "=https://www.linkedin.com/feed/update/{{ $vars.LINKEDIN_POST_URN }}",
              "type": "string"
            },
            {
              "id": "field-005",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c1991c9e-dd99-45a7-ba7b-5d9b5e4725d5",
      "name": "Extract Comment Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        512,
        -96
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "field-006",
              "name": "aiResponse",
              "value": "={{ $json.choices[0].message.content }}",
              "type": "string"
            },
            {
              "id": "field-007",
              "name": "commentId",
              "value": "={{ $('Extract Comment Data').item.json.commentId }}",
              "type": "string"
            },
            {
              "id": "field-008",
              "name": "commentText",
              "value": "={{ $('Extract Comment Data').item.json.commentText }}",
              "type": "string"
            },
            {
              "id": "field-009",
              "name": "authorName",
              "value": "={{ $('Extract Comment Data').item.json.authorName }}",
              "type": "string"
            },
            {
              "id": "field-010",
              "name": "postUrl",
              "value": "={{ $('Extract Comment Data').item.json.postUrl }}",
              "type": "string"
            },
            {
              "id": "field-011",
              "name": "timestamp",
              "value": "={{ $('Extract Comment Data').item.json.timestamp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "3b939941-6602-469d-9c5d-9ff40e0957a4",
      "name": "Prepare Reply Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -160,
        128
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.linkedin.com/v2/socialActions/{{ $vars.LINKEDIN_POST_URN }}/comments/{{ $json.commentId }}/comments",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "linkedInOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "LinkedIn-Version",
              "value": "202304"
            },
            {
              "name": "X-Restli-Protocol-Version",
              "value": "2.0.0"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "id": "60c2eea5-c969-4b0e-9a4f-93330dd1117b",
      "name": "Post Reply to LinkedIn",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        64,
        128
      ],
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "u9opNuspgI9kfdXu",
          "name": "LinkedIn OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "https://docs.google.com/spreadsheets/d/1Ocv_xyy3B9WpcpyJWo8MnngKB1HBA_WvUx_h5W_iXoI/edit?gid=0#gid=0",
          "__regex": "https:\\/\\/(?:drive|docs)\\.google\\.com(?:\\/.*|)\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ocv_xyy3B9WpcpyJWo8MnngKB1HBA_WvUx_h5W_iXoI/edit#gid=0"
        },
        "options": {}
      },
      "id": "cdbd9fe2-d6d2-40d3-ae69-dccbaa757f8c",
      "name": "Log to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        288,
        128
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KTdseBniYkWJNvWv",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "YOUR_SLACK_WEBHOOK_URL",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "id": "8c36b9b9-4d35-4a9d-8017-0be7836388b7",
      "name": "Slack Error Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        288,
        336
      ]
    },
    {
      "parameters": {},
      "id": "402f5bcb-0829-45be-b2f9-25958646cc88",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        80,
        336
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "hellp",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        704,
        -96
      ],
      "id": "e0dd41b2-05e5-4864-afe3-f18a473a0d27",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        704,
        96
      ],
      "id": "f92843cc-37fc-4128-a2b7-87ca0eb2a7ea",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "oXnwriZz9nEYi4PB",
          "name": "Groq account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch LinkedIn Comments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch LinkedIn Comments": {
      "main": [
        [
          {
            "node": "Split Comments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Comments": {
      "main": [
        [
          {
            "node": "Extract Comment Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Comment Data": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Reply Data": {
      "main": [
        [
          {
            "node": "Post Reply to LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Reply to LinkedIn": {
      "main": [
        [
          {
            "node": "Log to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Slack Error Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Prepare Reply Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "5cb572f5-35f9-412c-98b6-941c0015c951",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e24331cd0d0530356aea48f2432fed4381927486eff7990020aef57157ae0627"
  },
  "id": "JqzvJ3oQ56RLo0vC",
  "tags": []
}
