Rag Model With Supabase
{
  "name": "RAG Model with Supabase",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1FszwCRnJYjLqfVR5MIv5JQ_oEPH0GMlC",
          "mode": "list",
          "cachedResultName": "N8N RAG model",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1FszwCRnJYjLqfVR5MIv5JQ_oEPH0GMlC"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        112
      ],
      "id": "5170c160-7118-4a95-be4f-7449adb006b8",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "C5j1p89hoNQK9jH0",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        224,
        112
      ],
      "id": "d917ce60-b26c-4369-80f8-28de9e9b9caa",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "C5j1p89hoNQK9jH0",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        448,
        0
      ],
      "id": "54ca7afc-444b-42b7-bc2c-00aba99a4cec",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "Ud4xb4fiXV9NBgoq",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        464,
        224
      ],
      "id": "54cc544e-fb31-4cbc-a364-af96f7eabbe2",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "LtZDFdPYLRxD8V9a",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        720,
        224
      ],
      "id": "6f1e1a0c-080d-4f69-be75-c6682cf7e875",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "# Overview:\nyou are a helpful AI assistant to retrieve information , you have to answer the queries that come to you.\n\n## Tools:\n supabase_Vectors : always use this to reply queries.\n\n## Rules:\n-you always need to pull information from Supabase_Vectors to answer any queries that come to you.\n-Be precise with your reply.\n\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        288,
        544
      ],
      "id": "74f10efe-0d27-4f90-a59b-d78526ec0f8d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        224,
        768
      ],
      "id": "00661235-6aa5-46b2-876a-2c3afd28ce94",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "LtZDFdPYLRxD8V9a",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        384,
        768
      ],
      "id": "09d79149-5156-42c6-95e3-8005a47eff6e",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        576,
        976
      ],
      "id": "550b6c94-7834-4723-8bd0-4a9a6262eef6",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "LtZDFdPYLRxD8V9a",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Work with data of supabase database",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "topK": 5,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        512,
        752
      ],
      "id": "82b8a29f-8de0-4ce4-8f43-96eb21a4d4eb",
      "name": "Supabase_Vectors",
      "credentials": {
        "supabaseApi": {
          "id": "Ud4xb4fiXV9NBgoq",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        80,
        544
      ],
      "id": "30f75a53-3222-49f8-9d6d-04007cc956c1",
      "name": "When chat message received",
      "webhookId": "1b4949ca-509b-4ff2-b40a-e819509324a5"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase_Vectors",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Supabase_Vectors": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ebba0e38-5469-4a44-9774-61d1f3a6fa9e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "24d1a007ba9ae5c20f8e0d5a0c79a272e642bfd52bb700f8c6e591ccb42bad63"
  },
  "id": "LTelinHUcpKdyKWo",
  "tags": []
}
